<div class="set-style">
<%= "#{@user.nickname}さんのマイページ" %>
</div><br />
  <div class="style-set-main">
  <h2 class="style-set-title">これまでのスタイル一覧</h2>
    <div class="item-box">
      <% @posts.each do |posts| %>
        <%= link_to post_path(posts) do %>
          <% posts.images.each do |image|%>
            <%= image_tag image, class:"image-small"%>
          <% end %>
        <% end %>
      <% end %>
          <%= paginate @posts, class:"pagination" %>
    </div>
      <%= link_to 'もどる', root_path, class:"re-btn"%>
  </div>