<div class="style-set-main">
  <h2 class="style-set-titled">スタイルの情報を入力してください</h2>
  <div class="form-main-top">
    <div class="image-form">
      <%= form_with model:@post, id:"image",local: true do |f| %>
      <%= render 'shared/error_messages', model: f.object %>
  
        <div class="style">
        <span class="indispensable">必須</span>
        <%= f.label :image, "スタイルを選択" %><br />
        <%= f.file_field :image, class: :style_label %>
        </div>

        <div class="style">
        <span class="indispensable">必須</span>
        <%= f.label :clothes_id, "スタイルの種類を選択" %><br />
        <%= f.collection_select(:clothes_id, Clothe.all, :id, :name, {}, {class: :style_label}) %>
        </div>

        <div class="style">
        <span class="indispensable">必須</span>
        <%= f.label :season_id, "スタイルを身につけたい季節を選択" %><br />
        <%= f.collection_select(:season_id, Season.all, :id, :name, {}, {class: :style_label}) %>
        </div>
    
        <div class="style">
        <span class="indispensable">必須</span>
        <%= f.label :gender_id, "スタイルのジャンルを選択" %><br />
        <%= f.collection_select(:gender_id, Gender.all, :id, :name, {}, {class: :style_label}) %>
        </div>

        <div class="style">
        <span class="indispensable-blue">任意</span>
        <%= f.label :memo, "メモ：残しておきたい情報を記載" %><br />
        <%= f.text_area :memo, class:"style-text", maxlength:"500", placeholder:"例）購入した時期" %><br />
        </div>
  
        <div class="style">
        <%= f.submit "送信する" %>
        </div>
      <% end %>
    </div>
    <div class="image-item">
      <div id="image-list"></div>
    </div>
  </div>
</div>
 <%=link_to 'もどる', root_path %>

