<% if user_signed_in?%>
  <div class="set-style">トップページ</div><br />
    <div class="style-set-main-exp">
      <h2 class="style-set-title">身につけたいスタイルの条件を入力してください</h2>
          <%= search_form_for @p, url: search_posts_path do |f| %>
          <div class="style">
          <span class="indispensable">必須</span>
          <%= f.label :clothes_id_eq, "スタイルの種類を選択" %><br />
          <%= f.collection_select(:clothes_id_eq, Clothes.all, :id, :name, {}, {class: :style_label}) %>
          </div>

        <h2 class="style-set-title">さらに条件を選択する</h2>

          <div class="style">
        <span class="indispensable-blue">任意</span>
          <%= f.label :season_id_eq, '季節を選択' %><br />
          <%= f.collection_select(:season_id_eq, Season.where.not(id:1), :id, :name, {include_blank: '指定しない'}, {class: :style_label}) %>
          </div>

          <div class="style">
        <span class="indispensable-blue">任意</span>
            <%= f.label :gender_id_eq, 'ジャンルを選択' %><br />
            <%= f.collection_select(:gender_id_eq, Gender.where.not(id:1), :id, :name, {include_blank: '指定しない'}, {class: :style_label}) %>
          </div>

          <div class="style">
          <%= f.submit '検索', class:"search-btn" %>
          </div>
          <% end %>
  </div>
<% else %>
  <div class="prompt">ご利用には、
    <%= link_to "ログイン", new_user_session_path %>
    または
    <%= link_to "新規登録", new_user_registration_path %>
    が必要です
    </div><br />

  <div class="first-exp">
    朝、何着ていこう。そう思ったことはありませんか？<br />
    そんな方の助けになれるかもしれません
  </div>

  <div class='first-contact'>
    <h2 class='title'>詳細説明</h2>
    <ul class='contact-lists'>
      <li class='list'>
        <%= image_tag "image-1", class:"list-pict" %>
        <span class='contact-list-number'>1</span>
        <div class='contact-list-text'>
          <span class='contact-list-underline'>まずはスタイルを登録します</span>
        </div>
        <div class='contact-description-ano'>
          右のメインメニューの『スタイルを登録』から可能です
        </div>
      </li>
      <li class='list'>
        <%= image_tag "image-2", class:"list-pict" %>
        <span class='contact-list-number'>2</span>
        <div class='contact-list-text'>
          <span class='contact-list-underline'>次にトップページから条件を入力します</span>
        </div>
        <div class='contact-description'>
          種類の選択は必須ですが、その他は任意に決められます
        </div>
      </li>
            <li class='list'>
        <%= image_tag "image-3", class:"list-pict" %>
        <span class='contact-list-number'>3</span>
        <div class='contact-list-text'>
         <span class='contact-list-underline'>今日のあなたのスタイルを決めてくれます</span>
        </div>
        <div class='contact-description'>
          身に付けるか、付けないかはあなた次第です。
        </div>
      </li>
    </ul>
  </div>
<% end%>