<main class="main">
  <div class="inner">
    <div class="main-page">
      <div class="left-bar">
        <h1>登録ページ</h1><br />
        <h2>登録したい服の画像の情報を入力</h2>
        <%= form_with model:@post,local: true do |f| %>
        <%= f.file_field :image, id:"item-image" %>
        <%= f.text_area :explanation, class:"items-text", id:"item-info", placeholder:("メモ：残しておきたい情報を記載（記述しなくても可）") ,maxlength:"100" %><br />
        <%= f.collection_select(:clothes_id, Clothes.all, :id, :name, {}, {}) %>
        <%= f.collection_select(:season_id, Season.all, :id, :name, {}, {}) %>
        <%= f.collection_select(:gender_id, Gender.all, :id, :name, {}, {}) %>
        <%= f.submit "出品する" %>
        <%=link_to 'もどる', root_path %>
        <% end %>
      </div>
      <%= render partial:"main_page" %>
    </div>
  </div>