<div class="set-style">詳細確認ページ</div><br />
  <div class="style-set-main">
      <div class="show-box">
        <%= link_to 'スタイルの編集', edit_post_path , method: :get, class:"show-btn" %>
        <%= link_to 'スタイルの削除', post_path , method: :delete, class:"show-btn" %><br />
      </div>
    <div class="item-box">
      <%= image_tag @post.image, class:"image-big" %><br />
    </div>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">季節</th>
          <td class="detail-value"><%= @post.season.name %></td>
        </tr>
        <tr>
          <th class="detail-item">ジャンル</th>
          <td class="detail-value"><%= @post.gender.name %></td>
        </tr>
        <tr>
          <th class="detail-item">メモ</th>
          <td class="detail-value"><%= @post.memo %></td>
        </tr>
      </tbody>
    </table>
    <%= link_to 'もどる', root_path %>
  </div>

