<!DOCTYPE html>
<html>
  <head>
    <title>ChoiceStyle</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div class="left-header">
        <h1><a href="/" class="title">Choice-Style</a></h1>
      </div>
      <div class="right-header">
        <% if user_signed_in? %>
          <p class="name">
            ようこそ、<%= current_user.nickname %>さん
          </p>
            <%= link_to "マイページ", "/users/#{current_user.id}", class: :post %>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: :post %>
          <% else %>
           <%= link_to "ログイン", new_user_session_path, class: :post %>
            <%= link_to "新規登録", new_user_registration_path, class: :post %>
          <% end %>
      </div>
    </header>
      <main class="main">
        <div class="main-page">
          <div class="left-bar">
            <%= yield %>
          </div>
          <%= render partial:"posts/main_menu" %>
        </div>
      </main>
  </body>
</html>